h1, h2, .card-title{
    color: #FA715C;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
header{
    font-size: 1.5em;
    background-color: #FAD35C;
    padding: 10px;
    width: 100%;
}
body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    margin: 0 auto;
}
#container{
    padding-top: 15px;
    padding-bottom: 15px;
}
.new-row{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 25px;
    margin: auto;
    min-height: 20em;
}
.card-title{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}
.card-content figure{
    text-align: center;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#paragraph{
    width: 80%;
}
img{
    width: 75%;
    height: 75%;
    border: 3px solid #FAD35C;
}
ul{
    list-style-type: circle;
}
ul li a{
    text-decoration: none;
    color: #FA715C;
}
ul li a:hover{
    text-decoration: underline;
    color: #FAC05C;
}
footer{
    padding: 10px;
    width: 100%;
}
footer h2{
    text-align: left;
}
footer a{
    color: #FA715C;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: #FAC05C;
}